.menu-background {
  background: linear-gradient(270deg, #a711d4, #c53307, #1900df);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 27s ease infinite;
  -moz-animation: AnimationName 27s ease infinite;
  animation: AnimationName 27s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
